In [17]:
import yfinance as yf

In [18]:
ticker = "BBAS3"
periodo = "7d"
ticker_obj = yf.Ticker(f'{ticker}.SA')

In [19]:
ticker_obj

yfinance.Ticker object <BBAS3.SA>

In [20]:
ticker_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-07-14 00:00:00-03:00,21.120001,21.129999,20.620001,20.680000,28395000,0.0,0.0
2025-07-15 00:00:00-03:00,20.750000,21.059999,20.709999,20.900000,30999200,0.0,0.0
2025-07-16 00:00:00-03:00,20.990000,20.990000,20.170000,20.879999,55147900,0.0,0.0
2025-07-17 00:00:00-03:00,20.840000,20.900000,20.580000,20.740000,28673400,0.0,0.0
2025-07-18 00:00:00-03:00,20.600000,20.820000,20.200001,20.260000,42591900,0.0,0.0
2025-07-21 00:00:00-03:00,20.360001,20.410000,19.860001,19.860001,42352600,0.0,0.0
2025-07-22 00:00:00-03:00,19.990000,20.180000,19.870001,19.889999,24707100,0.0,0.0
2025-07-23 00:00:00-03:00,19.950001,20.420000,19.870001,20.209999,35932600,0.0,0.0
2025-07-24 00:00:00-03:00,20.190001,20.230000,19.900000,20.070000,44775000,0.0,0.0
2025-07-25 00:00:00-03:00,20.190001,20.469999,20.129999,20.240000,38899700,0.0,0.0
2025-07-28 00:00:00-03:00,20.260000,20.360001,19.940001,19.940001,24985300,0.0,0.0
2025-07-29 00:00:00-03:00,20.030001,20.059999,19.879999,19.950001,37210200,0.0,0.0
2025-07-30 00:00:00-03:00,19.910000,20.100000,19.620001,19.900000,79807500,0.0,0.0
2025-07-31 00:00:00-03:00,19.830000,19.830000,19.600000,19.700001,37149600,0.0,0.0
2025-08-01 00:00:00-03:00,19.900000,20.000000,18.120001,18.350000,91196200,0.0,0.0
2025-08-04 00:00:00-03:00,18.540001,19.020000,18.459999,18.719999,54775000,0.0,0.0
2025-08-05 00:00:00-03:00,18.780001,18.910000,18.580000,18.620001,38162300,0.0,0.0
2025-08-06 00:00:00-03:00,18.820000,18.959999,18.700001,18.700001,34102000,0.0,0.0
2025-08-07 00:00:00-03:00,18.820000,19.040001,18.660000,18.910000,30090000,0.0,0.0
2025-08-08 00:00:00-03:00,18.950001,19.230000,18.809999,18.930000,38600300,0.0,0.0
2025-08-11 00:00:00-03:00,18.930000,19.150000,18.760000,19.100000,21789700,0.0,0.0
2025-08-12 00:00:00-03:00,19.260000,19.530001,19.209999,19.240000,26608200,0.0,0.0

In [21]:
ticker_obj.history(period=periodo)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-08-04 00:00:00-03:00,18.540001,19.020000,18.459999,18.719999,54775000,0.0,0.0
2025-08-05 00:00:00-03:00,18.780001,18.910000,18.580000,18.620001,38162300,0.0,0.0
2025-08-06 00:00:00-03:00,18.820000,18.959999,18.700001,18.700001,34102000,0.0,0.0
2025-08-07 00:00:00-03:00,18.820000,19.040001,18.660000,18.910000,30090000,0.0,0.0
2025-08-08 00:00:00-03:00,18.950001,19.230000,18.809999,18.930000,38600300,0.0,0.0
2025-08-11 00:00:00-03:00,18.930000,19.150000,18.760000,19.100000,21789700,0.0,0.0
2025-08-12 00:00:00-03:00,19.260000,19.530001,19.209999,19.240000,26608200,0.0,0.0

In [22]:
from pandas.core.arrays import period


def returna_cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime ("%Y-%m-%d")
    hist = round(hist,2)
    #limitar em 30 resultados messclados

    if len(hist)>30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]
    return hist.to_json()

In [23]:
hist = returna_cotacao("BBAS3")
hist

'{"2025-07-14":20.68,"2025-07-15":20.9,"2025-07-16":20.88,"2025-07-17":20.74,"2025-07-18":20.26,"2025-07-21":19.86,"2025-07-22":19.89,"2025-07-23":20.21,"2025-07-24":20.07,"2025-07-25":20.24,"2025-07-28":19.94,"2025-07-29":19.95,"2025-07-30":19.9,"2025-07-31":19.7,"2025-08-01":18.35,"2025-08-04":18.72,"2025-08-05":18.62,"2025-08-06":18.7,"2025-08-07":18.91,"2025-08-08":18.93,"2025-08-11":19.1,"2025-08-12":19.24}'